nav{
	 background-color: #F2C777;
}
ul#nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
   text-align: right;
}

ul#nav li {
    display: inline-block;
}

ul#nav li a {
    padding: 25px;
    display: block;
    color: #7C785B;
    text-decoration: none;
}

ul#nav li a:hover {
    background-color: #ff5200;
    color: white
}

body {
    margin: 0;
}

.active {
    background-color: #ff5200;
    color: white !important;
}
.logo{
	float: left;
	font-size: 30px;
	padding: 25px 25px;
	height: 50px;
	line-height: 20px
}
a.logo{
	text-decoration: none;
	color: white
}
#mobile-menu{
	display: none;
}

@media screen and (max-width: 723px) {
	ul#nav{
		display: none;
	}
	#mobile-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 35px;
    top: -80px;
    float: right;
    line-height: 0px;
    border: 1px solid black;

}
#mobile-menu img{
	position: absolute;
    width: 31px;
    left: 6px;
}

	a.logo{
		background-color: #F2C777;
		color: white;
		width:100%;
		padding: 48px 10px 25px 27px;
	}
	ul#nav li {
		display: block;
		border-bottom:1px solid grey;
	}
	ul#nav li:last-child{
		border-bottom: none;
	}
}
